.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Inside your CSS or component style */
.progress-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #3498db;
  /* Set border color */
}

.progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  /* Set progress color */
  border-radius: 50%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  /* Clip to create a semi-circle */
}

.triangle-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align the triangle at the bottom of the container */
  height: 0; /* Adjust the height of the container as needed */
}

.triangle-red {
  width: 0;
  height: 0;
  border-left: 14px solid transparent; /* Adjust size as needed */
  border-right: 14px solid transparent;
  border-bottom: 14px solid #ef4444; /* Adjust color as needed */
}

.triangle-blue {
  width: 0;
  height: 0;
  border-left: 14px solid transparent; /* Adjust size as needed */
  border-right: 14px solid transparent;
  border-bottom: 14px solid #3b82f6; /* Adjust color as needed */
  transform: rotate(180deg);
}
